@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@100&display=swap');
body{

    font-family: 'Big Shoulders Display', cursive;
    background-color: #68c3c5;
    color: #fdffff;
    width: 500px;
    margin-right: auto;
    margin-left: auto;
}

button {
    font-family: 'Noto Sans JP', sans-serif;
    padding: 5px 20px;
    background-color: #fa7db5;
    color: #fdffff;
    border-style: none;
}

input {
    height: 20px;
}
